.App {
  text-align: center;
}

h2 {
  font-style: italic;
  text-shadow: 5px 5px 1.5px #3ab795;
  font-family: 'Sedgwick Ave Display', cursive;
}

#help {
  font-style: italic;
  text-shadow: 3px 3px 2px #75b9be;
  font-family: 'Sedgwick Ave Display', cursive;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear; 
  height: 20vh;
  width: 15%;

  -webkit-border-radius: 50%/60% 60% 40% 40%;
	-moz-border-radius: 50%/60% 60% 40% 40%;
	border-radius: 50%/60% 60% 40% 40%;

	-webkit-box-shadow: 0px 0px 30px #D5D3D3, 0px 0px 30px #D5D3D3; 
	-moz-box-shadow: 0px 0px 30px #D5D3D3, 0px 0px 30px #D5D3D3;
	box-shadow: 0px 0px 30px #D5D3D3, 0px 0px 30px #D5D3D3; 
}

.signIN {
  text-align: center;
  padding: 2% 10% 15% 10%;
  height: 10vh;
  width: 70%;
  display: inline-block;
  font-family: sans-serif;
  /* font-family: 'Sedgwick Ave Display', cursive; */
}

.buttons {
  position: relative;
  display: inline-block;
  width: 40%;
}
.A {
  width: 17%;
  margin: 2% 2% 0% 0%;
}
.B {
  width: 10%;
  margin: 2% 5% 0% 2%;
}
.C {
  width: 7%;
  margin: 2% 0% 0% 1%;
}

.end {
  display: block;
}

.collapsible-header {
  opacity: 0.7;
}

.footer:hover {
  animation: shake 0.52s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button {
  margin: 2%;
  display: inline-block;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation: pulse;
}

i.material-icons {
  position: relative;
  top: 4px;
  display: inline-block;
}

#blob {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Gloria Hallelujah', cursive;
}

::-webkit-scrollbar              { background-color: black; width: 2px; }
::-webkit-scrollbar-button       { background-color: black; width: 2px; }
::-webkit-scrollbar-track        { background-color: black; width: 2px;}
::-webkit-scrollbar-track-piece  { background-color: black; width: 2px;}
::-webkit-scrollbar-thumb        { background-color: black; width: 2px;}
::-webkit-scrollbar-corner       { background-color: black; width: 2px;}
::-webkit-resizer                { background-color: black; width: 2px;}