#menu{
    position: absolute;
    right: 2px;
    top: 2px;
}

#pic {
    width: 20%;
	border-radius: 90%;
} 

img {
	text-align: center;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.data {
    margin: 10%;
}

/* div {
	text-align: justify;
} */

#submit {
	left: 3vw;
}

.collapsible-body {
	background: linear-gradient(#b5ffe1, #93e5ab);
}

.collapsible-header {
	opacity: 0.9;
}

body {
	background: linear-gradient(#4DB7CC, #C4E0E2);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
